<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title th:text="'Настройка профиля | ' + ${currentUser.nickname}">Редактирование профиля </title>
    <script src="/resources/js/global/jquery-2.2.0.min.js"></script>
    <script src="/resources/js/global/general.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="/resources/js/account/settings.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="/resources/css/global/bootstrap.min.css" />
    <link rel="stylesheet" href="/resources/css/global/general.css" />
    <link rel="stylesheet" href="/resources/css/account/profile.css" />

</head>
<body>
<header th:replace="fragments/header"></header>


<section class="col-lg-8 col-md-8 col-sm-10 col-xs-12 col-centered border overflow padding10" style="background-color: white;">

    <div th:replace="account/fragments/sidebar"></div>

    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 pull-right" style="border-color: limegreen">

        <div id="edit-password" class="setting">
            <form action="#" class="form-group col-centered inline-block col-lg-4 text-center" method="post" th:action="@{/settings/password/change}">
                <input type="password" class="form-control margin-bottom text-center" name="current" placeholder="Текущий пароль"/>
                <input type="password" class="form-control margin-bottom text-center" name="new" placeholder="Новый пароль"/>
                <input type="password" class="form-control margin-bottom text-center" name="verify" placeholder="Подтверждение пароля"/>
                <div th:text="${fail}" style="color:red"></div>
                <input type="submit" class="btn btn-red" value="Изменить"/>
            </form>
        </div>
    </div>

</section>

</body>
</html>