<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title th:text="'Настройка профиля | ' + ${currentUser.nickname}">Редактирование профиля </title>
    <script src="/resources/js/global/jquery-2.2.0.min.js"></script>
    <script src="/resources/js/global/general.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="/resources/js/account/settings.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="/resources/css/global/bootstrap.min.css" />
    <link rel="stylesheet" href="/resources/css/global/general.css" />
    <link rel="stylesheet" href="/resources/css/account/profile.css" />

</head>
<body>
<header th:replace="fragments/header"></header>

<section class="col-lg-8 col-md-8 col-sm-10 col-xs-12 col-centered border overflow padding10" style="background-color: white;">
    <div th:replace="account/fragments/sidebar"></div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 pull-right" style="border-color: limegreen">

        <div id="edit-account" class="setting">
            <!--<form id="uploadFile" enctype="multipart/form-data" class="margin-bottom">
                <div>Загрузите аватарку:</div>
                <div class="fileUpload">
                    <input type="file" id="image" name="image" accept="image/*" class="upload"/>
                </div>
            </form>-->

            <form action="#" class="form-group col-centered inline-block col-lg-4 text-center" method="post" th:object="${profileBean}" th:action="@{/settings}">
                <input type="text" th:value="*{firstName}" class="form-control margin-bottom text-center" th:field="*{firstName}" placeholder="Имя"/>
                <input type="text" th:value="*{lastName}" class="form-control margin-bottom text-center" th:field="*{lastName}" placeholder="Фамиля"/>
                <select class="form-control margin-bottom text-center" th:field="*{gender}">
                    <option th:selected="*{#strings.toString(gender)} == 'MALE'" value="MALE" th:field="*{gender}">Мужчина</option>
                    <option th:selected="*{#strings.toString(gender)} == 'FEMALE'" value="FEMALE" th:field="*{gender}">Женщина</option>
                </select>
                    <p  class="input-group col-centered margin-bottom" style="width: 200px;">
                        <input id="datepicker" type="text" th:value="*{birthday}" class="form-control margin-bottom text-center" th:field="*{birthday}" placeholder="Дата рождения"/>
                        <span class="input-group-btn">
                            <button id="datepicker_datepicker" type="button" class="btn btn-default datepicker"><i  class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                <script>
                    var dateFieldId = 'datepicker';
                    $("#" + dateFieldId).datepicker({


                        changeMonth: true,
                        changeYear: true,
                        yearRange: '1930:2016',
                    });
                    $("#" + dateFieldId + "_datepicker").click(function (event) {
                        var buttonId = $(this).attr("id").replace("_datepicker", "");
                        $("#" + buttonId).datepicker("show");
                    });
                </script>

                <input type="hidden" th:value="*{id}" th:field="*{id}"/>
                <input type="submit" class="btn btn-red" value="Сохранить"/>

                <div th:if="${error != null}" th:text="${error}">
                    Ошибка здесь
                </div>
            </form>
        </div>

    </div>

</section>

</body>
</html>