html, body {background: #f5f5f5; margin: 0;}

.cart{ position:relative; min-height:50px; background: white; padding: 0; font-size: 15pt; text-align: center; margin-bottom: 50px; font-family: Copperplate;}
.quote_background {background-image: url("/resources/img/qb.jpg")}

.userava { width:40px; height: 30px; display: inline-block; border-radius: 45px;}
.username { width:100%; height:50px; margin-bottom: 20px; text-align: center; border:none; border-bottom:solid 1px lightgrey; display: inline-block; padding:10px;}

.recommend {margin-bottom: 30px; background: white; }
.recommend-head {}
.recommend-sub {border: solid 1px limegreen; background: white; color: limegreen; padding: 5px; font-size: 14px;}
.recommend-sub:hover {color:green;}
.recommend-underline {border-bottom: solid 1px lightgrey; width:40%;}

#user-info { border: none; text-align: center; width:100%; }
#left-menu { background: white; font-size: 12pt;  margin-left:10%; padding:0;}

.stat-block {background: white; font-size: 12pt;}
#author-top {}

.book { display: none; text-align: center; background: white;}
.bookName { cursor: pointer;}
.authorName { cursor: pointer;}
.status{ font-weight: 900; padding: 3px; text-align: center; font-size: 11pt; border-bottom: solid 1px lightgrey; overflow: hidden;}
.status:hover { text-decoration: underline;}
.like {cursor:pointer; padding:1px; width: 7%; min-height: inherit; display: inline-block}
.likes_count {width: auto; font-size:18pt; padding:1px; min-height: 100%; display: inline-block}
.field {border:none; font-weight: 900; font-size: 13pt; width:80%;  font-family: Copperplate;}

#status {padding-left: 15px; padding-right: 15px;}
#avatar{border-radius: 50px;}

@media screen and (max-width: 1490px) {
    #left-menu {margin-left: 20px; width:100%;}
}
@media screen and (max-width: 1024px) {
    #left-menu {display: none;}
}