body {background: whitesmoke; overflow: scroll}
a{text-decoration: none;}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
}

.selected {border-bottom: solid 5px #f35d54}
.current {cursor: pointer; }
.current:hover {border-bottom: solid 5px #f35d54; margin-bottom: 11px;}
.label {font-size: 22px; color:black; padding: 0;}

.follower {background: white; font-size: 12pt; display: inline-block; margin-right: 10px; margin-top: 10px;}
.profile_menu {display: block; min-height:30px; font-size: 13pt; text-align: center; margin-bottom: 15px;}
.name {text-align: center; font-family: Copperplate; font-size:16pt; font-weight: 600;}
.avatar {display: block; border-radius: 50%; min-height:150px; max-height: 200px;}
.settings {display: inline-block;  border: solid 1px lightgrey; padding: 5px; border-radius:10px;}
.subscribe {display: inline-block;  border: solid 1px limegreen; padding: 5px; border-radius:10px; background: limegreen; color:white;}
.unsubscribe {display: inline-block;  border: solid 1px lightgrey; padding: 5px; border-radius:10px; background: lightgrey; color:black;}

#profile_content {padding:0; margin-left: 100px;}

.bookk {  display: inline-block;  box-shadow: 5px 5px 20px #333;  margin: 20px; padding: 0; min-width: 200px; min-height: 300px; }
.bookk img {width: 100%;}
@media screen and (max-width: 920px) {
    .follower {display: block;}
}