<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Quowl</title>
    <script src="/resources/js/global/jquery-2.2.0.min.js"></script>
    <script src="/resources/js/sign/sign.js"></script>
    <link rel="stylesheet" href="/resources/css/global/general.css" />
    <link rel="stylesheet" href="/resources/css/sign/login.css"/>
    <link rel="stylesheet" href="/resources/css/global/bootstrap.min.css"/>

</head>
<body>
<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 login" sec:authorize="hasRole('ROLE_ADMIN')">
    <form class="navbar-form" th:action="@{/login}" method="post">
        <div class="form-group">
            <div>
                <input type="text" id="name" name="name" class="input"  placeholder="Username" required="required" />
                <span id="name_error" class="error_span pull-right"></span>
            </div><br />

            <div>
                <input type="password" id="password" name="password" class="input" placeholder="Password" required="required" />
                <span id="password_error" class="error_span pull-right"></span>
            </div><br/>

            <span id="result_signin_error" class="error_span"></span>
            <input type="button" onclick="signin()" class="btn btn-primary btn-block" value="Sign in" />
        </div>
    </form>
    <div class="row">
        <span>Don't have an account?</span><br/>
        <a onclick="showSignUp();"> Sign up now! </a><br/><br/>
    </div>

</div>

<div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 login" id="signup" style="display: none">
    <div class="navbar-form">
        <div class="form-group">
            <div class="input_wrapper">
                <input type="text" class="input" id="j_name" name="username" placeholder="Username" />
                <span id="j_name_error" class="error_span pull-right"></span>
            </div><br/>

            <div class="input_wrapper">
                <input type="email" class="input" id="j_email" name="email" placeholder="Email" />
                <span id="j_email_error" class="error_span pull-right"></span>
            </div><br/>

            <div class="input_wrapper">
                <input type="password" class="input" id="j_password" name="password" placeholder="Password" min="6" />
                <span id="j_password_error" class="error_span pull-right"></span>
            </div><br/>

            <span id="result_signup_error" class="error_span"></span>
            <input type="button" class="btn btn-success btn-block" onclick="signup()" value="SIGN UP" />
        </div>
    </div>
</div>
</body>
</html>