<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Quowl</title>
    <script src="/resources/js/global/jquery-2.2.0.min.js"></script>
    <script src="/resources/js/feed/feed.js"></script>
    <script src="/resources/js/global/general.js"></script>

    <link rel="stylesheet" href="/resources/css/global/bootstrap.min.css" />
    <link rel="stylesheet" href="/resources/css/global/general.css" />
    <link rel="stylesheet" href="/resources/css/feed/feed.css" />
</head>
<body id="body">
<div th:replace="fragments/header"></div>

<!-- Слева профиль -->
<section id="left-menu" class="col-lg-2 col-md-3 col-sm-2 col-xs-2 border_shadow" onclick="clear()">
    <div class="username">
        <img src="/resources/img/nerd_2.jpg" class="userava"/>
        <a href="" th:href="${user.nickname}" th:text="${user.nickname}"></a>
    </div>

    <div id="user-info" >
        <div style="display: inline-block; font-weight: 500; text-align: center;" th:text="'Цитат:'">Цитат</div>
        <div id="count_quotes" style="display: inline-block;font-weight: 700;" th:text="${user.countQuotes}">5</div> |
        <div style="display: inline-block; font-weight: 500;" th:text="'Прочитанных книг: '">Прочтенные книги</div>
        <div id="count_books" style="display: inline-block; font-weight: 700;" th:text="${user.countReadBooks}">count</div>
    </div>
    <hr class="hr margin-top" />

    <div id="status">
        <div class="status">
            <span class="authorName" id="author" th:style="${user.authorName} == null ? 'color:darkgrey' : 'color:black'"  onclick="editStatus('authorName')" th:text="${user.authorName} == null ? 'Автор' : ${user.authorName}">Author</span>
            <input type="text" id="authorName_edit" class="book col-lg-12 center-block" placeholder="Автор"/>
        </div>
        <div class="status">
            <span class="bookName" id="book" th:style="${user.bookName} == null ? 'color:darkgrey' : 'color:black'" onclick="editStatus('bookName')" th:text="${user.bookName} == null ? 'Название книги' : ${user.bookName}">Book</span>
            <input type="text" id="bookName_edit" class="book col-lg-12" placeholder="Название книги"/>
        </div>
        <span id="status_message" class="col-centered" style="display: none; position: absolute; text-align:center; width:90%;">Ready</span>
    </div><br />

    <div style="margin-bottom: 5px; overflow: hidden; padding-right:15px; padding-left: 15px">
        <div>
            <button class="btn btn-red pull-left" onclick="bookComplete()">Прочитал(а)</button>
        </div>
        <div style="">
            <button class="btn btn-red pull-right" onclick="saveStatus()">Сохранить</button>
        </div>
    </div>
</section>


<section class="col-lg-4 col-md-5 col-sm-7 col-xs-8 col-centered">
    <div class="cart" style="background:none;">
        <textarea class="form-control margin-bottom" cols="30" rows="6" id="quote" onclick="clearAll();" style="text-align: center; font-size:15pt;" spellcheck="true" placeholder="Цитата"></textarea>
        <button class="btn" onclick="addQuote()" th:text="'Добавить'">Send</button>
    </div>
</section>

<div id="quu">
<section th:each="quote : ${quotes}" id="quotes" class="col-lg-4 col-md-5 col-sm-7 col-xs-8 col-centered">
    <div th:replace="fragments/post"></div>
</section>
</div>
<section th:if="${#lists.size(quotes) >= 10}" class="col-lg-4 col-centered text-center" style="padding: 35px; font-size: 18px;" onclick="moreQuotes()" id="moreQuotes">
    <input type="button" class="btn btn-red" value="Показать еще"/>
</section>

<div th:replace="fragments/editor"></div>

</body>
</html>