<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 weight900 pull-left" style="border-color: red;">
    <ul>
        <li class="set">
            <a th:href="@{/settings}">
                <div class="border height20 padding5 font18 link padding-left">
                    Редактировать профиль
                    <span class="glyphicon glyphicon-menu-right pull-right"></span>
                </div>
            </a>

        </li>
        <li class="set">
            <a th:href="@{/settings/password/change}">
                <div class="border height20 padding5 font18 link padding-left">
                    Сменить пароль
                    <span class="glyphicon glyphicon-menu-right pull-right"></span>
                </div>
            </a>
        </li>
        <li class="set">
            <div class="border height20 padding5 font18 link padding-left">
                ТОДО
                <span class="glyphicon glyphicon-menu-right pull-right"></span>
            </div>
        </li>
        <li class="set">
            <div class="border height20 padding5 font18 link padding-left">
                ТОДО
                <span class="glyphicon glyphicon-menu-right pull-right"></span>
            </div>
        </li>
    </ul>
</div>