<div th:id="${quote.id}" class="cart border col-centered">
    <div class="username">
        <img src="/resources/img/nerd_2.jpg" width="100" class="userava"/>
        <a href="" th:href="${quote.userNickname}" th:text="${quote.userNickname}">marat</a>
        <b><span class="pull-right" style="color:grey; opacity: 0.6; font-size: 12pt;" th:text="${quote.date}">123</span></b>
    </div>

    <div style="border:none; text-align: center; font-weight: 900; font-size: 13pt; width:80%;  font-family: Copperplate;" class="col-centered" th:text="${quote.author}">Author</div>
    <hr class="line margin-bottom" />

    <div  th:id="'quote_text_' + ${quote.id}" th:text="${quote.text}" style="font-family: Copperplate; padding: 10px;"></div>

    <hr class="line margin-top" />
    <div style="border:none; text-align: center; margin-bottom:30px; font-weight: 900; font-size: 13pt; width:80%; font-family: Copperplate;" class="col-centered" th:text="${quote.book}">Book</div>

    <div class="border" style="height: 40px;">

        <div class="pull-left" style="cursor:pointer; padding:1px; width: 7%; min-height: inherit; display: inline-block" onclick="like($(this).parent().parent());">
            <img id="like_unlike" th:src="${#lists.contains(quote.users, currentUser) ? '/resources/img/like.png' : '/resources/img/unlike.png'}"  width="30" height="30" />
        </div>
        <div class="pull-left" style="width: auto; font-size:18pt; margin-left: 10px; padding:1px; min-height: 100%; display: inline-block" id="likes" th:text="${#lists.size(quote.users)}" >5</div>

        <div th:if="${quote.userId} == ${currentUser.id}" th:id="${quote.id}" class="pull-right" style="display: inline-block; margin-right: 15px; margin-top: 5px; cursor:pointer; width: 8%; height: 100%;" onclick="editorOfQuote(this.id);">
            <img src="/resources/img/edit.png" width="30" />
        </div>
    </div>
</div>